.Login__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Login__Contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.Login__Title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 42px;
}
