.Login__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Login__Contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 150px 0;
  width: 50%;
  height: 500px;
  border: 0.5px solid black;
  background-color: #ffffff;
}

.Login__Title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 42px;
}
