.wrapper {
  background-color: #e5e5e5;
  display: flex;
  width: 300px;
  border-radius: 10px;
  color: transparent;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
